<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>LeinsterCounties</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/leinster"></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LeinsterCounties</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Leinster Counties</h1>
  <ul style="font-size:100%;">
    <li>Carlow</li>
    <li>Dublin</li>
    <li>Kildare</li>
    <li>Kilkenny</li>
    <li>Laois</li>
    <li>Longford</li>
    <li>Louth</li>
    <li>Meath</li>
    <li>Offaly</li>
    <li>Westmeath</li>
    <li>Wexford</li>
    <li>Wicklow</li>
  </ul>
</ion-content>
